*.o
*.la
*.lo
*.typelib
*.gir
/CodingGameService.c
/CodingGameService.h
/aclocal.m4
/autom4te.cache/
/aclocal.m4
/autom4te.cache/
/com.endlessm.CodingGameService.service
/com.endlessm.CodingGameService.gschema.valid
/com.endlessm.Coding.policy
/files/coding-copy-files
/compile
/config.log
/config.guess
/config.status
/config.sub
/configure
/data/timeline.json
/depcomp
/install-sh
/lib/config.js
/libtool
/ltmain.sh
/missing
/coding-game-service-resources.c
/coding-game-service-resources.h
/coding-game-service
/coding-game-validator
.deps/
.libs/
Makefile
Makefile.in
