Source: coding-game-service
Priority: standard
Maintainer: Sam Spilsbury <sam@endlessm.com>
Build-Depends: autotools-dev,
               debhelper (>= 9),
               gobject-introspection,
               libgirepository1.0-dev,
               libglib2.0-dev,
               pkg-config
Standards-Version: 3.9.4
Section: non-free/libs
Homepage: http://www.endlessm.com

Package: libcoding-game-service-0-dev
Section: non-free/libs
Architecture: any
Depends: gir1.2-coding-game-service-0 (= ${binary:Version}),
         libcoding-game-service-0 (= ${binary:Version}),
         libglib2.0-dev,
         gjs,
         ${misc:Depends}
Description: Coding Game Service
 A service to manage the Endless Coding game state, library files.

Package: libcoding-game-service-0
Section: non-free/libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Coding Game Service
 A service to manage the Endless Coding game state, library.

Package: gir1.2-coding-game-service-0
Section: non-free/libs
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: Coding Game Service
 A service to manage the Endless Coding game state, GObject Introspection files.

Package: coding-game-service
Section: non-free/libs
Architecture: any
Depends: gir1.2-coding-game-service-0 (= ${binary:Version}),
         libcoding-game-service-0 (= ${binary:Version}),
         gjs,
         ${misc:Depends}
Description: Coding Game Service
 A service to manage the Endless Coding game state.
