[Desktop Entry]
Type=Application
Name=Extensions
Name[ar]=الامتدادات
Name[de]=Erweiterungen
Name[es]=Extensiónes
Name[fr]=Extensions
Name[hi]=एक्सटेंशन
Name[id]=Ekstensi
Name[pt_BR]=Extensões
Name[ro]=Extensii
Name[th]=ส่วนเสริม
Name[tr]=Uzantılar
Name[vi]=Tiện ích bổ sung
Name[zh_CN]=扩展
Name[zh_TW]=擴充功能
Comment=Configure Desktop Extensions
Comment[ar]=تهيئة امتدادات سطح المكتب
Comment[de]=Desktop-Erweiterungen konfigurieren
Comment[es]=Configurar las Extensiónes del escritorio
Comment[fr]=Configurer les extensions de bureau
Comment[hi]=डेस्कटॉप एक्सटेंशन कॉन्फ़िगर करें
Comment[id]=Konfigurasi Ekstensi Desktop
Comment[pt_BR]=Configurar extensões da Área de Trabalho
Comment[ro]=Configureaza extensii desktop
Comment[th]=การปรับแต่งส่วนเสริมเดสก์ท็อป
Comment[tr]=Masaüstü Uzantılarını Ayarla
Comment[vi]=Thiết lập Tiện ích mở rộng Desktop
Comment[zh_CN]=配置桌面扩展
Comment[zh_TW]=配置桌面延伸
Exec=/usr/bin/eos-shell-extension-prefs %u
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=eos-shell
X-GNOME-Bugzilla-Component=extensions
X-GNOME-Bugzilla-Version=3.8.0
Categories=GNOME;GTK;
OnlyShowIn=GNOME;
Icon=preferences-desktop
